.check-avail-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.datepicker-wrapper {
  display: flex;
  flex-direction: column;
}

.check-avail-container input {
  padding: 5px;
}

.capacity-wrapper select {
  padding: 4px;
}

.form-control.check-avail {
  background-color: white;
}

@media screen and (min-width: 776px) {
  .check-avail-wraper {
    width: 80%;
    max-width: 600px;
    flex-direction: row;
    justify-content: space-between;
  }
}